.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  background-color: #219ebc;
}
.rep-counter {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 16px; /* Decrease font size */
  background-color: #023047; /* Darken background */
  padding: 8px; /* Decrease padding */
  border-radius: 8px; /* Adjust border radius */
  max-width: 150px; /* Decrease maximum width */
}
.rep-counter p {
  margin: 5px 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.welcome-page button {
  padding: 10px 20px;
  font-size: 18px;
}

.progress-bar-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20px;
  background-color: #39f63c;
  border-radius: 10px;
  overflow: hidden; /* Ensure the overflow is hidden */
}

.progress-bar {
  height: 100%;
  background-color: #ddd;
  border-radius: 10px;
  transition: width 0.5s ease-in-out; /* Smooth transition animation */
  width: 0; /* Start with zero width */
}
